<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AB1 Chromatogram File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FileImage</string>
				<key>UTTypeIconText</key>
				<string>AB1</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.appliedbiosystems.abif.ab1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ab1</string>
					<string>AB1</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STRyper Archived Folder</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FolderArchive</string>
				<key>UTTypeIconText</key>
				<string>FOLDER</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.jpeccoud.stryper.folderarchive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>folderarchive</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FSA Chromatogram File</string>
			<key>UTTypeIconFile</key>
			<string></string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FileImage</string>
				<key>UTTypeIconText</key>
				<string>FSA</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.appliedbiosystems.abif.fsa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fsa</string>
					<string>FSA</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HID Chromatogram File</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>FileImage</string>
				<key>UTTypeIconText</key>
				<string>HID</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.appliedbiosystems.abif.hid</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hid</string>
					<string>HID</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
